
# Installing Required Libraries/Packages

In [2]:
!pip install yfinance

Requirement already satisfied: yfinance in c:\users\msant\anaconda3\lib\site-packages (0.1.70)
Requirement already satisfied: lxml>=4.5.1 in c:\users\msant\anaconda3\lib\site-packages (from yfinance) (4.6.3)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\msant\anaconda3\lib\site-packages (from yfinance) (0.0.10)
Requirement already satisfied: pandas>=0.24.0 in c:\users\msant\anaconda3\lib\site-packages (from yfinance) (1.3.4)
Requirement already satisfied: numpy>=1.15 in c:\users\msant\anaconda3\lib\site-packages (from yfinance) (1.20.3)
Requirement already satisfied: requests>=2.26 in c:\users\msant\anaconda3\lib\site-packages (from yfinance) (2.26.0)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\msant\anaconda3\lib\site-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\msant\anaconda3\lib\site-packages (from pandas>=0.24.0->yfinance) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\msant\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.16.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\msant\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (1.26.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\msant\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\msant\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\msant\anaconda3\lib\site-packages (from requests>=2.26->yfinance) (3.2)

In [3]:
!pip install pandas-datareader

Requirement already satisfied: pandas-datareader in c:\users\msant\anaconda3\lib\site-packages (0.10.0)
Requirement already satisfied: lxml in c:\users\msant\anaconda3\lib\site-packages (from pandas-datareader) (4.6.3)
Requirement already satisfied: requests>=2.19.0 in c:\users\msant\anaconda3\lib\site-packages (from pandas-datareader) (2.26.0)
Requirement already satisfied: pandas>=0.23 in c:\users\msant\anaconda3\lib\site-packages (from pandas-datareader) (1.3.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\msant\anaconda3\lib\site-packages (from pandas>=0.23->pandas-datareader) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in c:\users\msant\anaconda3\lib\site-packages (from pandas>=0.23->pandas-datareader) (2021.3)
Requirement already satisfied: numpy>=1.17.3 in c:\users\msant\anaconda3\lib\site-packages (from pandas>=0.23->pandas-datareader) (1.20.3)
Requirement already satisfied: six>=1.5 in c:\users\msant\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas-datareader) (1.16.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\msant\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (3.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\msant\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\msant\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (1.26.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\msant\anaconda3\lib\site-packages (from requests>=2.19.0->pandas-datareader) (2.0.4)

In [4]:
!pip install requests

Requirement already satisfied: requests in c:\users\msant\anaconda3\lib\site-packages (2.26.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\msant\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\msant\anaconda3\lib\site-packages (from requests) (1.26.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\msant\anaconda3\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\msant\anaconda3\lib\site-packages (from requests) (3.2)

In [10]:
import numpy as np
import pandas as pd
import pandas_datareader as pdr
from datetime import timedelta, datetime
from dateutil.relativedelta import relativedelta
import seaborn as sns
import matplotlib.pyplot as plt
import yfinance as yf
yf.pdr_override()

# Load The SYMBOLS Data Set

In [11]:
Symbols=pd.read_csv("Symbols.csv")

# Informations About SYMBOLS File

In [13]:
Symbols

    Symbols
0       NVO
1      REGN
2      MRNA
3      VRTX
4      BNTX
..      ...
200    LVTX
201    INZY
202    CRTX
203    NXTC
204    ANVS

[205 rows x 1 columns]

In [16]:
Symbols.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Symbols  205 non-null    object
dtypes: object(1)
memory usage: 1.7+ KB

# Converting The Array Value To A Single List

In [43]:
tickers_list=[]
for t in list(Symbols.values):
    print(t)
    x=t[0]
    tickers_list.append(x)

['NVO']
['REGN']
['MRNA']
['VRTX']
['BNTX']
['BGNE']
['SGEN']
['GMAB']
['ALNY']
['RPRX']
['BMRN']
['TECH']
['ARGX']
['INCY']
['UTHR']
['BHVN']
['JAZZ']
['DNA']
['ASND']
['SRPT']
['NVAX']
['LEGN']
['EXEL']
['MRTX']
['ARNA']
['ARWR']
['HALO']
['BPMC']
['RARE']
['IONS']
['HCM']
['APLS']
['GLPG']
['DNLI']
['BEAM']
['CERT']
['VIR']
['ACAD']
['ARVN']
['ABCM']
['ALKS']
['MRVI']
['CYTK']
['BCRX']
['PTCT']
['SWTX']
['INSM']
['ABCL']
['EXAI']
['IBRX']
['ADPT']
['RCUS']
['CCXI']
['NKTR']
['RXRX']
['GBT']
['VALN']
['ISEE']
['TPTX']
['AGIO']
['PRTA']
['LYEL']
['RXDX']
['RVMD']
['MDGL']
['TIL']
['ALLO']
['FGEN']
['VERV']
['ERAS']
['BCYC']
['SANA']
['BBIO']
['ALEC']
['ATRA']
['ENTA']
['CDXS']
['IMGN']
['MYOV']
['NGM']
['INVA']
['ADCT']
['NUVB']
['EDIT']
['CCCC']
['AMLX']
['IMCR']
['RGNX']
['MOR']
['PCVX']
['SEER']
['AVXL']
['CNTA']
['CRNX']
['DAWN']
['KURA']
['SGMO']
['REPL']
['ANAB']
['MOLN']
['NUVL']
['DSGN']
['KZR']
['SNDX']
['ABSI']
['ARQT']
['ZEAL']
['QURE']
['BLU']
['ACRS']
['IMGO']
['KNSA']
['PMVP']
['CRBU']
['MCRB']
['KDNY']
['MGNX']
['KPTI']
['IPSC']
['ICVX']
['STOK']
['SRRK']
['GOSS']
['AKRO']
['MGTX']
['IMVT']
['GLUE']
['RPTX']
['EWTX']
['OMGA']
['CGEM']
['ALXO']
['VTYX']
['IDYA']
['TNYA']
['PRAX']
['PHAT']
['PHVS']
['HUMA']
['AVIR']
['IGMS']
['CALT']
['TCDA']
['ALVR']
['FDMT']
['BLI']
['RUBY']
['RLMD']
['TYRA']
['BLUE']
['PRLD']
['ICPT']
['GTHX']
['RLYB']
['ZYME']
['KNTE']
['VIGL']
['PRVB']
['JNCE']
['PLRX']
['THRX']
['KRON']
['FNCH']
['GRTS']
['ATHA']
['DYN']
['ALLK']
['FUSN']
['IMUX']
['XLO']
['ORIC']
['VOR']
['TARS']
['NKTX']
['SPRO']
['OPT']
['XBIT']
['NBTX']
['GBIO']
['AMTI']
['TSHA']
['YMAB']
['ANNX']
['OYST']
['COGT']
['PYXS']
['CYT']
['IOBT']
['KMPH']
['ABOS']
['STTK']
['OLMA']
['RAIN']
['VECT']
['AKUS']
['HOWL']
['BMEA']
['HARP']
['SQZ']
['MIST']
['LVTX']
['INZY']
['CRTX']
['NXTC']
['ANVS']

# Printing The Company Name For Each Of The Symbol / Stock

In [27]:
for t in list(Symbols.values):
    print(t)
    x=t[0]
    company_name = yf.Ticker(x).info['longName']
    print(company_name)

['NVO']
Novo Nordisk A/S
['REGN']
Regeneron Pharmaceuticals, Inc.
['MRNA']
Moderna, Inc.
['VRTX']
Vertex Pharmaceuticals Incorporated
['BNTX']
BioNTech SE
['BGNE']
BeiGene, Ltd.
['SGEN']
Seagen Inc.
['GMAB']
Genmab A/S
['ALNY']
Alnylam Pharmaceuticals, Inc.
['RPRX']
Royalty Pharma plc
['BMRN']
BioMarin Pharmaceutical Inc.
['TECH']
Bio-Techne Corporation
['ARGX']
argenx SE
['INCY']
Incyte Corporation
['UTHR']
United Therapeutics Corporation
['BHVN']
Biohaven Pharmaceutical Holding Company Ltd.
['JAZZ']
Jazz Pharmaceuticals plc
['DNA']
Ginkgo Bioworks Holdings, Inc.
['ASND']
Ascendis Pharma A/S
['SRPT']
Sarepta Therapeutics, Inc.
['NVAX']
Novavax, Inc.
['LEGN']
Legend Biotech Corporation
['EXEL']
Exelixis, Inc.
['MRTX']
Mirati Therapeutics, Inc.
['ARNA']
Arena Pharmaceuticals, Inc.
['ARWR']
Arrowhead Pharmaceuticals, Inc.
['HALO']
Halozyme Therapeutics, Inc.
['BPMC']
Blueprint Medicines Corporation
['RARE']
Ultragenyx Pharmaceutical Inc.
['IONS']
Ionis Pharmaceuticals, Inc.
['HCM']
HUTCHMED (China) Limited
['APLS']
Apellis Pharmaceuticals, Inc.
['GLPG']
Galapagos NV
['DNLI']
Denali Therapeutics Inc.
['BEAM']
Beam Therapeutics Inc.
['CERT']
Certara, Inc.
['VIR']
Vir Biotechnology, Inc.
['ACAD']
ACADIA Pharmaceuticals Inc.
['ARVN']
Arvinas, Inc.
['ABCM']
Abcam plc
['ALKS']
Alkermes plc
['MRVI']
Maravai LifeSciences Holdings, Inc.
['CYTK']
Cytokinetics, Incorporated
['BCRX']
BioCryst Pharmaceuticals, Inc.
['PTCT']
PTC Therapeutics, Inc.
['SWTX']
SpringWorks Therapeutics, Inc.
['INSM']
Insmed Incorporated
['ABCL']
AbCellera Biologics Inc.
['EXAI']
Exscientia plc
['IBRX']
ImmunityBio, Inc.
['ADPT']
Adaptive Biotechnologies Corporation
['RCUS']
Arcus Biosciences, Inc.
['CCXI']
ChemoCentryx, Inc.
['NKTR']
Nektar Therapeutics
['RXRX']
Recursion Pharmaceuticals, Inc.
['GBT']
Global Blood Therapeutics, Inc.
['VALN']
Valneva SE American Depositary Shares
['ISEE']
IVERIC bio, Inc.
['TPTX']
Turning Point Therapeutics, Inc.
['AGIO']
Agios Pharmaceuticals, Inc.
['PRTA']
Prothena Corporation plc
['LYEL']
Lyell Immunopharma, Inc.
['RXDX']
Prometheus Biosciences, Inc.
['RVMD']
Revolution Medicines, Inc.
['MDGL']
Madrigal Pharmaceuticals, Inc.
['TIL']
Instil Bio, Inc.
['ALLO']
Allogene Therapeutics, Inc.
['FGEN']
FibroGen, Inc.
['VERV']
Verve Therapeutics, Inc.
['ERAS']
Erasca, Inc.
['BCYC']
Bicycle Therapeutics plc
['SANA']
Sana Biotechnology, Inc.
['BBIO']
BridgeBio Pharma, Inc.
['ALEC']
Alector, Inc.
['ATRA']
Atara Biotherapeutics, Inc.
['ENTA']
Enanta Pharmaceuticals, Inc.
['CDXS']
Codexis, Inc.
['IMGN']
ImmunoGen, Inc.
['MYOV']
Myovant Sciences Ltd.
['NGM']
NGM Biopharmaceuticals, Inc.
['INVA']
Innoviva, Inc.
['ADCT']
ADC Therapeutics SA
['NUVB']
Nuvation Bio Inc.
['EDIT']
Editas Medicine, Inc.
['CCCC']
C4 Therapeutics, Inc.
['AMLX']
Amylyx Pharmaceuticals, Inc.
['IMCR']
Immunocore Holdings plc
['RGNX']
REGENXBIO Inc.
['MOR']
MorphoSys AG
['PCVX']
Vaxcyte, Inc.
['SEER']
Seer, Inc.
['AVXL']
Anavex Life Sciences Corp.
['CNTA']
Centessa Pharmaceuticals Limited
['CRNX']
Crinetics Pharmaceuticals, Inc.
['DAWN']
Day One Biopharmaceuticals, Inc.
['KURA']
Kura Oncology, Inc.
['SGMO']
Sangamo Therapeutics, Inc.
['REPL']
Replimune Group, Inc.
['ANAB']
AnaptysBio, Inc.
['MOLN']
Molecular Partners AG
['NUVL']
Nuvalent, Inc.
['DSGN']
Design Therapeutics, Inc.
['KZR']
Kezar Life Sciences, Inc.
['SNDX']
Syndax Pharmaceuticals, Inc.
['ABSI']
Absci Corporation
['ARQT']
Arcutis Biotherapeutics, Inc.
['ZEAL']
Zealand Pharma A/S
['QURE']
uniQure N.V.
['BLU']
BELLUS Health Inc.
['ACRS']
Aclaris Therapeutics, Inc.
['IMGO']
Imago BioSciences, Inc.
['KNSA']
Kiniksa Pharmaceuticals, Ltd.
['PMVP']
PMV Pharmaceuticals, Inc.
['CRBU']
Caribou Biosciences, Inc.
['MCRB']
Seres Therapeutics, Inc.
['KDNY']
Chinook Therapeutics, Inc.
['MGNX']
MacroGenics, Inc.
['KPTI']
Karyopharm Therapeutics Inc.
['IPSC']
Century Therapeutics, Inc.
['ICVX']
Icosavax, Inc.
['STOK']
Stoke Therapeutics, Inc.
['SRRK']
Scholar Rock Holding Corporation
['GOSS']
Gossamer Bio, Inc.
['AKRO']
Akero Therapeutics, Inc.
['MGTX']
MeiraGTx Holdings plc
['IMVT']
Immunovant, Inc.
['GLUE']
Monte Rosa Therapeutics, Inc.
['RPTX']
Repare Therapeutics Inc.
['EWTX']
Edgewise Therapeutics, Inc.
['OMGA']
Omega Therapeutics, Inc.
['CGEM']
Cullinan Oncology, Inc.
['ALXO']
ALX Oncology Holdings Inc.
['VTYX']
Ventyx Biosciences, Inc.
['IDYA']
IDEAYA Biosciences, Inc.
['TNYA']
Tenaya Therapeutics, Inc.
['PRAX']
Praxis Precision Medicines, Inc.
['PHAT']
Phathom Pharmaceuticals, Inc.
['PHVS']
Pharvaris N.V.
['HUMA']
Humacyte, Inc.
['AVIR']
Atea Pharmaceuticals, Inc.
['IGMS']
IGM Biosciences, Inc.
['CALT']
Calliditas Therapeutics AB (publ)
['TCDA']
Tricida, Inc.
['ALVR']
AlloVir, Inc.
['FDMT']
4D Molecular Therapeutics, Inc.
['BLI']
Berkeley Lights, Inc.
['RUBY']
Rubius Therapeutics, Inc.
['RLMD']
Relmada Therapeutics, Inc.
['TYRA']
Tyra Biosciences, Inc.
['BLUE']
bluebird bio, Inc.
['PRLD']
Prelude Therapeutics Incorporated
['ICPT']
Intercept Pharmaceuticals, Inc.
['GTHX']
G1 Therapeutics, Inc.
['RLYB']
Rallybio Corporation
['ZYME']
Zymeworks Inc.
['KNTE']
Kinnate Biopharma Inc.
['VIGL']
Vigil Neuroscience, Inc.
['PRVB']
Provention Bio, Inc.
['JNCE']
Jounce Therapeutics, Inc.
['PLRX']
Pliant Therapeutics, Inc.
['THRX']
Theseus Pharmaceuticals, Inc.
['KRON']
Kronos Bio, Inc.
['FNCH']
Finch Therapeutics Group, Inc.
['GRTS']
Gritstone bio, Inc.
['ATHA']
Athira Pharma, Inc.
['DYN']
Dyne Therapeutics, Inc.
['ALLK']
Allakos Inc.
['FUSN']
Fusion Pharmaceuticals Inc.
['IMUX']
Immunic, Inc.
['XLO']
Xilio Therapeutics, Inc.
['ORIC']
ORIC Pharmaceuticals, Inc.
['VOR']
Vor Biopharma Inc.
['TARS']
Tarsus Pharmaceuticals, Inc.
['NKTX']
Nkarta, Inc.
['SPRO']
Spero Therapeutics, Inc.
['OPT']
Opthea Limited
['XBIT']
XBiotech Inc.
['NBTX']
Nanobiotix S.A.
['GBIO']
Generation Bio Co.
['AMTI']
Applied Molecular Transport Inc.
['TSHA']
Taysha Gene Therapies, Inc.
['YMAB']
Y-mAbs Therapeutics, Inc.
['ANNX']
Annexon, Inc.
['OYST']
Oyster Point Pharma, Inc.
['COGT']
Cogent Biosciences, Inc.
['PYXS']
Pyxis Oncology, Inc.
['CYT']
Cyteir Therapeutics, Inc.
['IOBT']
IO Biotech, Inc.
['KMPH']
KemPharm, Inc.
['ABOS']
Acumen Pharmaceuticals, Inc.
['STTK']
Shattuck Labs, Inc.
['OLMA']
Olema Pharmaceuticals, Inc.
['RAIN']
Rain Therapeutics Inc.
['VECT']
VectivBio Holding AG
['AKUS']
Akouos, Inc.
['HOWL']
Werewolf Therapeutics, Inc.
['BMEA']
Biomea Fusion, Inc.
['HARP']
Harpoon Therapeutics, Inc.
['SQZ']
SQZ Biotechnologies Company
['MIST']
Milestone Pharmaceuticals Inc.
['LVTX']
LAVA Therapeutics N.V.
['INZY']
Inozyme Pharma, Inc.
['CRTX']
Cortexyme, Inc.
['NXTC']
NextCure, Inc.
['ANVS']
Annovis Bio, Inc.

# Checking One (First) Stock Data Download As A Check

I got six columns only for the company symbol of NVO

In [28]:
check=yf.download("NVO")

[*********************100%***********************]  1 of 1 completed

In [48]:
check.shape

(10291, 6)

In [37]:
check.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 10291 entries, 1981-04-30 to 2022-02-18
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Open       10291 non-null  float64
 1   High       10291 non-null  float64
 2   Low        10291 non-null  float64
 3   Close      10291 non-null  float64
 4   Adj Close  10291 non-null  float64
 5   Volume     10291 non-null  int64
dtypes: float64(5), int64(1)
memory usage: 562.8 KB

# Downloading All The Stocks / Symbols Data

I got 1230 columns while downloading all the symbols/stocks

In [46]:
Data=yf.download(tickers=ticker_list, group_by='ticker')

[*********************100%***********************]  205 of 205 completed

In [49]:
Data.shape

(10291, 1230)

In [42]:
Data

                 VIGL                                                     \
                 Open       High     Low      Close  Adj Close    Volume
Date
1981-04-30        NaN        NaN     NaN        NaN        NaN       NaN
1981-05-01        NaN        NaN     NaN        NaN        NaN       NaN
1981-05-04        NaN        NaN     NaN        NaN        NaN       NaN
1981-05-05        NaN        NaN     NaN        NaN        NaN       NaN
1981-05-06        NaN        NaN     NaN        NaN        NaN       NaN
...               ...        ...     ...        ...        ...       ...
2022-02-14  15.930000  16.260000  15.251  16.090000  16.090000   59000.0
2022-02-15  16.049999  17.215000  15.830  16.530001  16.530001  164000.0
2022-02-16  16.450001  17.480000  16.400  17.290001  17.290001   51400.0
2022-02-17  17.209999  18.270000  16.600  17.120001  17.120001   71200.0
2022-02-18  17.780001  17.879999  15.820  15.900000  15.900000   85400.0

             NKTX                       ...        ASND              \
             Open   High    Low  Close  ...         Low       Close
Date                                    ...
1981-04-30    NaN    NaN    NaN    NaN  ...         NaN         NaN
1981-05-01    NaN    NaN    NaN    NaN  ...         NaN         NaN
1981-05-04    NaN    NaN    NaN    NaN  ...         NaN         NaN
1981-05-05    NaN    NaN    NaN    NaN  ...         NaN         NaN
1981-05-06    NaN    NaN    NaN    NaN  ...         NaN         NaN
...           ...    ...    ...    ...  ...         ...         ...
2022-02-14  10.00  10.34   9.93  10.00  ...  121.029999  121.739998
2022-02-15  10.19  10.64  10.00  10.49  ...  121.830002  122.589996
2022-02-16  10.20  10.67  10.07  10.42  ...  114.430000  117.709999
2022-02-17  10.27  10.27   9.50   9.72  ...  114.209999  114.739998
2022-02-18   9.62   9.62   9.08   9.50  ...  109.690002  111.989998

                                       INVA                           \
             Adj Close    Volume       Open   High    Low      Close
Date
1981-04-30         NaN       NaN        NaN    NaN    NaN        NaN
1981-05-01         NaN       NaN        NaN    NaN    NaN        NaN
1981-05-04         NaN       NaN        NaN    NaN    NaN        NaN
1981-05-05         NaN       NaN        NaN    NaN    NaN        NaN
1981-05-06         NaN       NaN        NaN    NaN    NaN        NaN
...                ...       ...        ...    ...    ...        ...
2022-02-14  121.739998  154400.0  19.360001  20.15  19.00  19.709999
2022-02-15  122.589996  223300.0  19.820000  20.10  19.58  19.690001
2022-02-16  117.709999  334800.0  19.750000  20.48  19.75  20.250000
2022-02-17  114.739998  222900.0  20.250000  20.42  19.67  19.940001
2022-02-18  111.989998  208500.0  19.930000  20.33  19.51  19.990000


            Adj Close     Volume
Date
1981-04-30        NaN        NaN
1981-05-01        NaN        NaN
1981-05-04        NaN        NaN
1981-05-05        NaN        NaN
1981-05-06        NaN        NaN
...               ...        ...
2022-02-14  19.709999  1659500.0
2022-02-15  19.690001  5346500.0
2022-02-16  20.250000  1021900.0
2022-02-17  19.940001   817800.0
2022-02-18  19.990000  1595600.0

[10291 rows x 1230 columns]

# Filtering The Dataset

We want only last five years data (From 2017-02-01 to 2022-02-22)

In [50]:
Data=pd.DataFrame(Data)
Data.sort_index(ascending=False)

                 VIGL                                                     \
                 Open       High     Low      Close  Adj Close    Volume
Date
2022-02-18  17.780001  17.879999  15.820  15.900000  15.900000   85400.0
2022-02-17  17.209999  18.270000  16.600  17.120001  17.120001   71200.0
2022-02-16  16.450001  17.480000  16.400  17.290001  17.290001   51400.0
2022-02-15  16.049999  17.215000  15.830  16.530001  16.530001  164000.0
2022-02-14  15.930000  16.260000  15.251  16.090000  16.090000   59000.0
...               ...        ...     ...        ...        ...       ...
1981-05-06        NaN        NaN     NaN        NaN        NaN       NaN
1981-05-05        NaN        NaN     NaN        NaN        NaN       NaN
1981-05-04        NaN        NaN     NaN        NaN        NaN       NaN
1981-05-01        NaN        NaN     NaN        NaN        NaN       NaN
1981-04-30        NaN        NaN     NaN        NaN        NaN       NaN

                 ABCM                                   ...        ASND  \
                 Open       High        Low      Close  ...         Low
Date                                                    ...
2022-02-18  16.830000  16.850000  16.400000  16.480000  ...  109.690002
2022-02-17  17.469999  17.535000  17.129999  17.200001  ...  114.209999
2022-02-16  17.500000  17.684999  17.309999  17.549999  ...  114.430000
2022-02-15  17.400000  17.629999  17.330000  17.600000  ...  121.830002
2022-02-14  16.920000  16.959999  16.754999  16.820000  ...  121.029999
...               ...        ...        ...        ...  ...         ...
1981-05-06        NaN        NaN        NaN        NaN  ...         NaN
1981-05-05        NaN        NaN        NaN        NaN  ...         NaN
1981-05-04        NaN        NaN        NaN        NaN  ...         NaN
1981-05-01        NaN        NaN        NaN        NaN  ...         NaN
1981-04-30        NaN        NaN        NaN        NaN  ...         NaN

                                                   INVA                \
                 Close   Adj Close    Volume       Open   High    Low
Date
2022-02-18  111.989998  111.989998  208500.0  19.930000  20.33  19.51
2022-02-17  114.739998  114.739998  222900.0  20.250000  20.42  19.67
2022-02-16  117.709999  117.709999  334800.0  19.750000  20.48  19.75
2022-02-15  122.589996  122.589996  223300.0  19.820000  20.10  19.58
2022-02-14  121.739998  121.739998  154400.0  19.360001  20.15  19.00
...                ...         ...       ...        ...    ...    ...
1981-05-06         NaN         NaN       NaN        NaN    NaN    NaN
1981-05-05         NaN         NaN       NaN        NaN    NaN    NaN
1981-05-04         NaN         NaN       NaN        NaN    NaN    NaN
1981-05-01         NaN         NaN       NaN        NaN    NaN    NaN
1981-04-30         NaN         NaN       NaN        NaN    NaN    NaN


                Close  Adj Close     Volume
Date
2022-02-18  19.990000  19.990000  1595600.0
2022-02-17  19.940001  19.940001   817800.0
2022-02-16  20.250000  20.250000  1021900.0
2022-02-15  19.690001  19.690001  5346500.0
2022-02-14  19.709999  19.709999  1659500.0
...               ...        ...        ...
1981-05-06        NaN        NaN        NaN
1981-05-05        NaN        NaN        NaN
1981-05-04        NaN        NaN        NaN
1981-05-01        NaN        NaN        NaN
1981-04-30        NaN        NaN        NaN

[10291 rows x 1230 columns]

In [53]:
Data.shape

(10291, 1230)

In [54]:
Data=Data.loc[Data.index>'2017-02-01']
Data=pd.DataFrame(Data)

# Flattening The Datasets From Multi-Index

In [55]:
df=pd.DataFrame(Data.to_records())
df.head(5)

,Date,"('VIGL', 'Open')","('VIGL', 'High')","('VIGL', 'Low')","('VIGL', 'Close')","('VIGL', 'Adj Close')","('VIGL', 'Volume')","('ABCM', 'Open')","('ABCM', 'High')","('ABCM', 'Low')",...,"('ASND', 'Low')","('ASND', 'Close')","('ASND', 'Adj Close')","('ASND', 'Volume')","('INVA', 'Open')","('INVA', 'High')","('INVA', 'Low')","('INVA', 'Close')","('INVA', 'Adj Close')","('INVA', 'Volume')"
0,2017-02-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,21.870001,22.090000,22.090000,15000.0,10.63,10.78,10.47,10.65,10.65,408500.0
1,2017-02-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,21.700001,21.900000,21.900000,25600.0,10.77,11.03,10.57,11.02,11.02,502100.0
2,2017-02-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,21.510000,22.240000,22.240000,21600.0,10.93,11.10,10.88,11.03,11.03,360000.0
3,2017-02-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,22.010000,22.190001,22.190001,32700.0,11.03,11.14,10.70,10.72,10.72,504500.0
4,2017-02-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,21.070000,22.219999,22.219999,34500.0,10.67,11.08,10.65,10.94,10.94,875900.0

# Saving A Data Set In A CSV File

In [56]:
df.to_csv("Stock_Price.csv")

                                                                                            File Author - Santhosh Kumar